FASTAPI_PROJECT_NAME=fastapi-oidc-client
FASTAPI_DOMAIN=<domain>
FASTAPI_PORT=8000
FASTAPI_PROTOCOL=http
FASTAPI_ENVIRONMENT=development
FASTAPI_BACKEND_CORS_ORIGINS=""

KEYCLOAK_URL=<keycloak_instance_url>
KEYCLOAK_REALM=<keycloak_realm>
KEYCLOAK_CLIENT_ID=<keycloak_client_id>
KEYCLOAK_CLIENT_SECRET=<keycloak_client_secret>
